h1 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 48px;
	color: #2e2e2e;
}

#sketchpad {
	display: flex;
	flex-wrap: wrap;
	height: 33.33%;
	width: 33.33%;
	margin: 10px auto;
}

div .gridPixel {
	border: 1px solid black;
	box-sizing: border-box;
	aspect-ratio: 1;
}

.colored {
	background-color: black;
}
