body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	text-align: center;
	font-weight: 400;
	font-size: 48px;
	margin: 0 auto 30px;
	color: #2e2e2e;
}

#sketchpad {
	display: flex;
	flex-wrap: wrap;
	height: 45%;
	width: 45%;
	margin: 0 auto 30px;
}

div .gridPixel {
	border: 1px solid black;
	box-sizing: border-box;
	aspect-ratio: 1;
}

.colored {
	background-color: black;
}

#reset {
	padding: 5px 40px;
	border-radius: 3px;
	font-size: 18px;
}
